html {
  background-color: black;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: .9rem; }
  body a {
    text-decoration: none; }
  body .landing-page {
    background: black;
    /* fallback for old browsers */
    text-align: center; }
    @media (max-width: 768px) {
      body .landing-page {
        margin-bottom: 15%; } }
    body .landing-page .my-pic {
      width: 200px;
      border: 2px rgba(250, 237, 38, 0.5) solid;
      padding: 10px;
      border-radius: 2%;
      margin: 10% auto 0 auto; }
      @media (max-width: 768px) {
        body .landing-page .my-pic {
          margin: 15% auto 0 auto; } }
    body .landing-page .banner-text {
      width: 40%;
      margin: 2% auto;
      color: white; }
      @media (max-width: 768px) {
        body .landing-page .banner-text {
          width: 90%;
          margin: 5% auto 0 auto; } }
      body .landing-page .banner-text h1 {
        color: #FAED26;
        font-size: 30px;
        font-weight: bold;
        padding: 5px 0 0 0;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0; }
        @media (max-width: 768px) {
          body .landing-page .banner-text h1 {
            font-size: 20px; } }
      body .landing-page .banner-text .job-title {
        font-size: 16px;
        margin: 0 0 10px 0; }
      body .landing-page .banner-text p {
        font-size: 14px;
        padding: .2em 1em; }
      body .landing-page .banner-text hr {
        margin: 1px auto; }
      body .landing-page .banner-text .hr-nav {
        border-top: 2px inset -webkit-linear-gradient(to left, #ffd194, #70e1f5) !important;
        margin: auto; }
      body .landing-page .banner-text .social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        width: 40%;
        margin: auto; }
      body .landing-page .banner-text .social-links i {
        color: white;
        font-size: 2.5em;
        padding: 8px; }
  body .category-wrapper {
    background: black;
    color: white;
    text-align: center; }
    body .category-wrapper .header-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 5%; }
      @media (max-width: 768px) {
        body .category-wrapper .header-container {
          margin: 15% 0; } }
      body .category-wrapper .header-container .category-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: white;
        width: 15%;
        border-top: 1px solid rgba(250, 237, 38, 0.5);
        border-bottom: 1px solid rgba(250, 237, 38, 0.5);
        margin: 0 auto; }
        @media (max-width: 768px) {
          body .category-wrapper .header-container .category-header {
            width: 55%; } }
        body .category-wrapper .header-container .category-header .arrow-down, body .category-wrapper .header-container .category-header .arrow-up {
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          padding-left: 10%;
          cursor: pointer; }
        body .category-wrapper .header-container .category-header h3 {
          text-transform: uppercase;
          letter-spacing: 2px; }
        body .category-wrapper .header-container .category-header p {
          color: #FAED26; }
      body .category-wrapper .header-container .about-details {
        width: 45%;
        color: white;
        margin: 10px auto 0 auto;
        line-height: 160%; }
        @media (max-width: 768px) {
          body .category-wrapper .header-container .about-details {
            width: 90%; } }
        body .category-wrapper .header-container .about-details a {
          text-decoration: none;
          color: white; }
    body .category-wrapper .hide {
      display: none;
      width: 0;
      height: 0; }
    body .category-wrapper a {
      text-decoration: none; }
    body .category-wrapper .fadeOut {
      height: 0; }
  body .education-page .education-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 150%;
    margin: 1.5% auto;
    width: 40%; }
    @media (max-width: 768px) {
      body .education-page .education-details {
        width: 95%; } }
    body .education-page .education-details .education {
      margin: 1% auto; }
      body .education-page .education-details .education h3, body .education-page .education-details .education h4, body .education-page .education-details .education p {
        margin: 0;
        letter-spacing: 1px; }
      body .education-page .education-details .education .date-place {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        body .education-page .education-details .education .date-place p {
          padding: 0 10px;
          color: rgba(255, 255, 255, 0.5) !important; }
      body .education-page .education-details .education .divider {
        margin-top: 2%;
        color: rgba(250, 237, 38, 0.5);
        font-size: 1.5rem; }
  body .education-page .hide {
    display: none; }
  body .experience-page .experience-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 150%;
    margin: 1.5% auto;
    width: 40%; }
    @media (max-width: 768px) {
      body .experience-page .experience-details {
        width: 95%; } }
    body .experience-page .experience-details .experience-list {
      margin: 1% auto; }
      body .experience-page .experience-details .experience-list h3, body .experience-page .experience-details .experience-list h4, body .experience-page .experience-details .experience-list p {
        margin: 0;
        letter-spacing: 1px; }
      body .experience-page .experience-details .experience-list .date-place {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        body .experience-page .experience-details .experience-list .date-place p {
          padding: 0 10px;
          color: rgba(255, 255, 255, 0.5) !important; }
      body .experience-page .experience-details .experience-list .divider {
        margin-top: 2%;
        color: rgba(250, 237, 38, 0.5);
        font-size: 1.5rem; }
  body .experience-page .hide {
    display: none; }
  body .projects-page {
    margin: 5% 0;
    text-align: center; }
    @media (max-width: 768px) {
      body .projects-page {
        margin: 10% 0; } }
    body .projects-page .projects-title h3 {
      color: #FAED26;
      letter-spacing: 2px; }
      @media (max-width: 768px) {
        body .projects-page .projects-title h3 {
          margin: 0 0 5% 0; } }
    body .projects-page .project-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      margin: 3.5% 20%;
      cursor: pointer; }
      @media (max-width: 768px) {
        body .projects-page .project-list {
          margin: 6% auto; } }
      body .projects-page .project-list .project-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 2% 0;
        opacity: .5; }
        @media (max-width: 768px) {
          body .projects-page .project-list .project-info {
            margin: 2% 0 3% 0; } }
        body .projects-page .project-list .project-info:hover {
          opacity: 1; }
        body .projects-page .project-list .project-info .project-img {
          width: 300px; }
        body .projects-page .project-list .project-info p.project-title {
          color: #FAED26;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 14px; }
  body .contact-page {
    text-align: center;
    width: 100%; }
    @media (max-width: 768px) {
      body .contact-page {
        margin: 5% 0 7% 0; } }
    @media (max-width: 768px) {
      body .contact-page .contact-address {
        margin-bottom: 20px; } }
    body .contact-page .contact-address h3 {
      width: 15%;
      text-transform: uppercase;
      border-top: 1px solid rgba(250, 237, 38, 0.5);
      border-bottom: 1px solid rgba(250, 237, 38, 0.5);
      margin: 0 auto 20px auto;
      padding: 15px;
      color: white; }
      @media (max-width: 768px) {
        body .contact-page .contact-address h3 {
          width: 48%;
          margin: 0 auto 30px auto; } }
    body .contact-page .contact-address p, body .contact-page .contact-address a {
      font-size: 14px;
      letter-spacing: 1.5px;
      color: rgba(250, 237, 38, 0.5); }
    body .contact-page .contact-address .mail:hover {
      font-size: 15px;
      color: #FAED26; }
    body .contact-page .contact-socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      body .contact-page .contact-socials .link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 2% 3%;
        color: white;
        text-transform: uppercase; }
        @media (max-width: 768px) {
          body .contact-page .contact-socials .link {
            font-size: 12px; } }
        body .contact-page .contact-socials .link:hover {
          font-size: 15px; }
        body .contact-page .contact-socials .link i.icon {
          padding: 0 0 0 7%;
          color: #FAED26;
          font-size: 18px;
          vertical-align: middle; }
          @media (max-width: 768px) {
            body .contact-page .contact-socials .link i.icon {
              font-size: 14px; } }
